<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/AllCollection.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js" defer></script>
</head>
<body>
  

  <div class="category-section">
        <h1>All New Arrival </h1>

    <div class="category-container">
      
      
       <div class="category-card">
        <img src="/images/Lehanga/Lehanga14.jpg" alt="Traditional Clothes">
        <p> New Traditional Dress</p>
        <a class="shop-button" href="/style/Lehanga">Shop Now</a>
      </div>
      <div class="category-card">
        <img src="/images/New folder/MenFormal14.jpg" alt="Men-formal">
        <p> New Skirt</p>
        <a class="shop-button" href="/style/men-formal">Shop Now</a>
      </div>
      

      <div class="category-card">
        <img src="images/formal girl11.jpg" alt="Formal Suite">
        <p> New Formal-Suite</p>
        <a class="shop-button" href="/explore">Shop Now</a>
      </div>
       <div class="category-card">
        <img src="/images/MenCasual/Men11.jpg" alt="Casual">
        <p> New Casual Dress</p>
        <a class="shop-button" href="/style/Men Casual">Shop Now</a>
      </div>


      <div class="category-card">
        <img src="/images/kurti4.jpg" alt="Kurtis & Suits">
        <p> New Short's</p>
        <a class="shop-button" href="/style/Short Kurti">Shop Now</a>
      </div>

      <div class="category-card">
        <img src="/images/WomenSaree/sarees11.jpg" alt="Sarees">
        <p> New Sarees</p>
        <a class="shop-button" href="/style/Saree">Shop Now</a>
      </div>

      

     

      

      

    </div>
  </div>

   
      

     
      
</body>
</html>
