<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Women's Fashion Trends</title>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/AllCollection.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js" defer></script>
 
</head>
<body>


  <div class="category-section">
    <h1>Offer for Our Customer</h1>
    <div class="category-container">
      
      <div class="category-card">
        <img src="/images/New folder/MenFormal6.jpg" alt="Men-formal">
        <p> Skirt</p>
        <p >33% off</p>
        <a class="shop-button" href="/style/men-formal">Shop Now</a>
      </div>
      

      <div class="category-card">
        <img src="/images/MenCasual/Men3.jpg" alt="Casual">
        <p>Casual</p>
        <p class="offer">23% off</p>
        <a class="shop-button" href="/style/Men Casual">Shop Now</a>
      </div>

      <div class="category-card">
        <img src="images/New folder/MenFormal5.jpg" alt="Kurtis & Suits">
        <p>Formal-Suite</p>
        <p >30% off</p>
        <a class="shop-button" href="/style/men-formal">Shop Now</a>
      </div>
       <div class="category-card">
        <img src="/images/Lehanga/Lehanga7.jpg" alt="Traditional Clothes">
        <p>Traditional Clothes</p>
        <p >39% off</p>
        <a class="shop-button" href="/style/Lehanga">Shop Now</a>
      </div>

      <div class="category-card">
        <img src="/images/formal girl5.webp" alt="Formal Suite">
        <p>Formal-Suite</p>
        <p >55% off</p>
        <a class="shop-button" href="/explore">Shop Now</a>
      </div>

      <div class="category-card">
        <img src="/images/kurti8.jpg" alt="Kurtis & Suits">
        <p> Short-Kurti</p>
        <p >40% off</p>
        <a class="shop-button" href="/style/Short Kurti">Shop Now</a>
      </div>

      <div class="category-card">
        <img src="/images/WomenSaree/sarees12.jpg" alt="Sarees">
        <p >40% off</p>
        <p>Sarees</p>
        <a class="shop-button" href="/style/Saree">Shop Now</a>
      </div>

      

     

      

      <div class="category-card">
        <img src="/images/Lehanga/Lehanga3.jpg" alt="Activewear">
        <p>Lehanga</p>
        <a class="shop-button" href="/style/Lehanga">Shop Now</a>
      </div>
     <div class="category-card">
        <img src="/images/kurti1.jpg" alt="Kurtis & Suits">
        <p> Kurti's</p>
        <a class="shop-button" href="/style/Short Kurti">Shop Now</a>
      </div>

    </div>
  </div>


</body>
</html>
