<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Women's Fashion Trends</title>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/AllCollection.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js" defer></script>
 
</head>
<body>


  <div class="category-section">
    <h1>Trending-Fashon is Available Now</h1>
    <div class="category-container">
      <div class="category-card">
        <img src="images/New folder/MenFormal7.jpg" alt="Kurtis & Suits">
        <p>Formal-Suite</p>
        <a class="shop-button" href="/style/men-formal">Shop Now</a>
      </div>

     <div class="category-card">
        <img src="/images/MenCasual/Men15.jpg" alt="Casual">
        <p>Regular-Cloths</p>
        <a class="shop-button" href="/style/Men Casual">Shop Now</a>
      </div>

      
       <div class="category-card">
        <img src="/images/Lehanga/Lehanga4.jpg" alt="Traditional Clothes">
        <p>Traditional Clothes</p>
        <a class="shop-button" href="/style/Lehanga">Shop Now</a>
      </div>

      <div class="category-card">
        <img src="images/formal girl12.jpg" alt="Formal Suite">
        <p>Formal-Suite</p>
        <a class="shop-button" href="/explore">Shop Now</a>
      </div>

      

     

      

      

    </div>
  </div>


</body>
</html>
